extends layout

block content
  div#view(ng-view)

  script(src='js/socket.io-1.0.6.js')
  script(src='js/angular.js')
  script(src='js/angular-resource.min.js')
  script(src='js/angular-sanitize.js')
  script(src='js/angular-route.min.js')

  script(src='/angular/app.js')
  script(src='/angular/services.js')
  script(src='/angular/controllers.js')
  script(src='/angular/filters.js')
  script(src='/angular/directives.js')