@font-face
	font-weight lighter
	font-family OpenSansLight
	src url('fonts/OpenSans-Light.ttf')

@font-face
	font-family OpenSans
	src url('fonts/OpenSans-Regular.ttf')

@font-face
	font-family Tesla
	src url('fonts/TESLA.ttf')
